@charset "utf-8";

/* ボタンの装飾を消す */
.text-button {
  background: none;        /* 背景色を消す */
  border: none;            /* 枠線を消す */
  padding: 0;              /* パディングを消す */
  color: #007bff;          /* テキストの色 */
  text-decoration: underline; /* 下線を付ける */
  cursor: pointer;         /* マウスホバー時に手形カーソルにする */
  font-family: inherit;    /* フォントを親要素に合わせる */
  font-size: inherit;      /* 文字サイズを親要素に合わせる */
}

/* ホバー時の装飾（オプション） */
.text-button:hover {
  text-decoration: none;   /* ホバー時に下線を消す */
  color: #0056b3;
}

/* モーダル */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  background-color: rgba(120, 123, 131, 0.8);
}

/* モーダルがactiveの時 */
.modal.is-active {
  opacity: 1;
  pointer-events: auto;
}

/* モーダル背景のオーバーレイ部分 */
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* モーダルのコンテンツ */
.modal__content {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  padding: 20px;
}

/* モーダルを閉じるボタン */
.modal__close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 10;
}

/* Swiperの矢印部分 */
@media (max-width: 768px) {
  .modal .swiper-button-next,
  .modal .swiper-button-prev {
    display: none;
  }
}

.rule_image {
    width: 100%;
    height: auto;
}