@charset "utf-8";

body {
    
}
div#profile_a_op {
    background-image: url(../images/profile_akabane.webp);
    background-size: auto 100%;
    background-position: center center;
    background-repeat: repeat-x;
    background-color:#0000cd;
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    filter: blur(4px);
}

div#profile_a {
    background-image: url(../images/profile_akabane.webp);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;

}

/* .transparent {
    background: rgba(255,255,255,0.5); 
} */

#selectbutton {
    position: absolute;
    bottom: 90px;
    left: 400px;
}

#botan {
    background-color: #3FA9F5;
    color: #FFFFFF;
    text-align: center;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    font: normal normal normal 16px/27px Hiragino Sans;
}