@charset "utf-8";

body {
       background-image: url(../images/bg_01.webp);
       background-position: center center;
       background-size: cover;
       height: 100vh;
       width: 100%;
       letter-spacing: 0.2rem;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#login { /*名前メールアドレス*/
     border-radius: 25px;
     border-style: none;
     height: 50px;
     width: 340px;
     margin-bottom: 10px;
     background-color: #ffffff;
     opacity: 1;
}

#login2 { /*ログインボタン*/
    background-color: #3FA9F5;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    width: 340px;
    margin-top: 35px;
    margin-bottom: 35px;
    font: normal normal bold 24px/29px Helvetica;
}

#login2:hover {
    background-color: #FFD700;
}

#container {
    width: 400px;
    position: absolute;
    bottom: 130px;
    /*margin: 0 auto;*/
    left: 50%;
    transform: translateX(-50%);
}

#loginbox { /*ログインボックス*/
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    height: 275px;
    width: 400px;
    text-align: center;
    padding-top: 24px;
}

::placeholder{
    /*padding-left: 20px;*/
    font-size: large;
    /*font: normal normal bold 24px/29px;*/
    /*font: normal normal bold 24px/29px Helvetica;*/
    font: normal normal normal 14px/24px Hiragino Sans;
}
input {
    padding-left: 20px;
}


#t_link {
    /*position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 450px;*/
    font: normal normal normal 14px/24px Hiragino Sans;
    color: #ffffff;
    text-shadow : 0 0 7px #000000;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

#t_link a:hover {
    color: #FFD700;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    /*top: 1000px;
    left: 890px;*/
    text-align: center;
}

small {
    color: #FFFFFF;
    font-size: 12px;
}


/* ---------------------------------------------
以下「遊び方」部分-------------------------------- */

/* ボタンの装飾を消す */
.text-button {
    border: none;            /* 枠線を消す */
    padding: 0;              /* パディングを消す */
    color: #ffffff;          /* テキストの色 */
    text-decoration: underline; /* 下線を付ける */
    cursor: pointer;         /* マウスホバー時に手形カーソルにする */
    font-family: inherit;    /* フォントを親要素に合わせる */
    font-size: inherit;      /* 文字サイズを親要素に合わせる */
    text-decoration: none; 
    text-shadow : 0 0 7px #000000;
    font-size: 16px;
}

/* ホバー時の装飾（オプション） */
.text-button:hover {
    text-decoration: none;   /* ホバー時に下線を消す */
    color: #FFD700;
}

/* モーダル */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
    background-color: rgba(000, 000, 000, 0.8);
}

/* モーダルがactiveの時 */
.modal.is-active {
    opacity: 1;
    pointer-events: auto;
}

/* モーダル背景のオーバーレイ部分 */
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* モーダルのコンテンツ */
.modal__content {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

/* モーダルを閉じるボタン */
.modal__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    z-index: 10;
}

/* Swiperの矢印部分 */
@media (max-width: 768px) {
    .modal .swiper-button-next,
    .modal .swiper-button-prev {
    display: none;
  }
}

.rule_image {
    width: 100%;
    height: auto;
}