@charset "utf-8";

body {
       background-image: url(kuizuimages/images/bg_01.png);
       background-size: cover;
       height: 100vh;
       width: 100vw;
}

#login { /*名前メールアドレスボタン*/
     border-radius: 25px;
     border-style: none;
     height: 50px;
     width: 340px;
     margin-bottom: 10px;
}

#login2 { /*ログインボタン*/
    background-color: #3FA9F5;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 30px;
    border-style: none;
    height: 50px;
    width: 340px;
    margin-top: 40px;
    margin-bottom: 66px;
    font: normal normal bold 24px/29px Helvetica;
}

#login2:hover {
    background-color: #FFD700;
}

#loginbox{ /*ログインボックス*/
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    height: 250px;
    width: 400px;
    text-align: center;
    padding-top: 24px;
    /*position: center;*/
    bottom: 50px;
    /*margin: 0 auto;*/
    left: 50%;
    transform: translateX(-50%);
    /*position: fixed;*/
    position: absolute;
    
}

::placeholder{
    padding-left: 20px;
    font-size: large;
    /*font: normal normal bold 24px/29px;*/
    /*font: normal normal bold 24px/29px Helvetica;*/
    font: normal normal normal 14px/24px Hiragino Sans;
}

p {
    color: #FFFFFF;
    font: normal normal normal 12px/14px Helvetica;
}

#menu {
    /*position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 450px;*/
    font: normal normal normal 14px/24px Hiragino Sans;
    color: #CCCCCC;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    /*top: 1000px;
    left: 890px;*/
    font-size: medium;
    text-align: center;
}
